body {
  background: purple;
}

.spotify-container {
  position: relative;
  width: 300px;
  height: 380px;
}

.spotify-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;            /* ajustable */
  background: peru;
  border-radius: 12px;
  z-index: 10;              /* CLAU */
  pointer-events: none;
}