body {
  background: red;
}

.spotify-container {
  position: relative;
  width: 300px;
  height: 380px;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* ajusta segons què vulguis tapar */
  background-color: black; /* o transparent amb blur */
  z-index: 10;
}
